# data and img files
/data/*
*/debug/*
*.csv
*.docx
*.vs
*.png
*.txt

# CLEAN THIS UP - NO BUILD FILES
/module_one/Lab1-3/*
/module_two/Lab2-1/*
/module_two/.vs/*
/module_three/linkedlist/*

# C++ files
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app